<br><br><br>
<center>
	<header><h1>Gem List</h1></header>
</center>

<!--Login with twitter or show user's info-->
<br><br><br>
<div class="col-md-8 col-md-offset-2">
	<center>
		<div class="row">
			<% if logged_in? %>
				<a href="#"><img height="100" width="100" src="<%= @profile_image %>" class="img-responsive img-circle" /></a>
				<h2><%= @name %><br/>
					<a href="http://twitter.com/<%= @username %>" target="_blank" >
						<i class="fa fa-twitter"> <%= @username %></i>
					</a>
					<br/>
					<small><%= @description %></small><br>
					<small><a href="/logout">Logout</a></small>
				</h2>
			<% else %>
				<a href="/login" class="btn btn-md btn-primary">
					<i class="fa fa-twitter"> Login with Twitter</i> 
				</a>
			<% end %>
		</div>
	</center>

	<br><br><br>
	<!-- Search Box -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1 search">
			<form action="/search" method="GET">
			  <div class="input-group">
			      <input id="search" type="text" class="form-control" placeholder="SEARCH FOR GEMS" name="search">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="submit" id="searchnow">Search</button>
			      </span>
			  </div>
		  </form>
		  <div class="panel panel-default search-results">
  			<!-- <div class="panel-body">
    			
  			</div> -->
			</div>
	  </div>
	</div>
	<hr>

<!--Show top 20 Gems -->
	<center><h3 class="text-success">Top 10 Ruby Gems</center></h3>
	<% @gems.each do |gem| %>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>
						<a href="<%= gem.name %>"><%= gem.name %>
					</strong></a>
				</div>
				<div class="panel-body">
					<div class="command">
						~> gem install <%= gem.name %>
			  	</div>
			  	<%= gem.summary %>
				</div>
			</div>
		</div>
	<% end %>	

</div>