<a href="/login">
	<i class="fa fa-twitter"></i> 
</a>


<div class="container">

	<center><h1><i class="fa fa-comments fa-2x">Trending</i></h1></center>

	<br/>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<center>

				<% if logged_in? %>
				<a href="#"><img height="100" width="100" class="img-circle img-responsive" src="<%= @profile_image %>" /></a>

				<div class="row">
					<div>
						<h2><%= @name %><br/>
							<a href="http://twitter.com/<%= @username %>" target="_blank" ><i class="fa fa-twitter"> <%= @username %></i></a><br/>
							<small><%= @description %></small><br>
							<small><a href="/logout">Logout</a></small>
						</h2>
						<hr>
					</div><!--/col-md-6 col-md-offset-3-->
				</div><!--/row-->

				<% else %>
				<a class="btn btn-md btn-twitter" href="/login">
					<i class="fa fa-twitter fa-2x white"> Login with Twitter</i> 
				</a>
				<% end %>
			</center>
		</div><!--/col-md-4 col-md-offset-4-->
	</div><!--/row-->

	<br/>


	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center">Trending Articles</h2><br/>

			<!--Article summary-->
			<div class="row">
				<div class="col-md-8 pull-left">
					<h3><a href="">Title of the post goes here</a>
						<small>Summary paragraph goes here</small>
					</h3>
				</div>
				<div class="col-md-4">
					<br/>
					<h4 class="pull-right hidden-xs " style="color:#999999"><i class="fa fa-calendar"> Jan 03</i></h4>

					<i class="visible-xs fa fa-calendar" style="color:#999999"> Jan 03</i>
				</div>
			</div><!--/row-->

			<div class="row">
				<div class="col-md-8 pull-left">
					<h3><a href="">Title of the post goes here</a>
						<small>Summary paragraph goes here</small>
					</h3>
				</div>
				<div class="col-md-4">
					<br/>
					<h4 class="pull-right hidden-xs " style="color:#999999"><i class="fa fa-calendar"> Jan 03</i></h4>

					<i class="visible-xs fa fa-calendar" style="color:#999999"> Jan 03</i>
				</div>
			</div><!--/row-->

			<div class="row">
				<div class="col-md-8 pull-left">
					<h3><a href="">Title of the post goes here</a>
						<small>Summary paragraph goes here</small>
					</h3>
				</div>
				<div class="col-md-4">
					<br/>
					<h4 class="pull-right hidden-xs " style="color:#999999"><i class="fa fa-calendar"> Jan 03</i></h4>

					<i class="visible-xs fa fa-calendar" style="color:#999999"> Jan 03</i>
				</div>
			</div><!--/row-->

			<div class="row">
				<div class="col-md-8 pull-left">
					<h3><a href="">Title of the post goes here</a>
						<small>Summary paragraph goes here</small>
					</h3>
				</div>
				<div class="col-md-4">
					<br/>
					<h4 class="pull-right hidden-xs " style="color:#999999"><i class="fa fa-calendar"> Jan 03</i></h4>

					<i class="visible-xs fa fa-calendar" style="color:#999999"> Jan 03</i>
				</div>
			</div><!--/row-->

			<div class="row">
				<div class="col-md-8 pull-left">
					<h3><a href="">Title of the post goes here</a>
						<small>Summary paragraph goes here</small>
					</h3>
				</div>
				<div class="col-md-4">
					<br/>
					<h4 class="pull-right hidden-xs " style="color:#999999"><i class="fa fa-calendar"> Jan 03</i></h4>

					<i class="visible-xs fa fa-calendar" style="color:#999999"> Jan 03</i>
				</div>
			</div><!--/row-->

			<br/><br/><br/><br/>
		</div><!--/col-md-6 col-md-offset-3-->
	</div><!--/row-->

</div><!--/container-->

