<a href="/login">
	<i class="fa fa-twitter">Twitter</i> 
</a>



<p><%= @top_fifty_gems %></p>

<% if logged_in? %>
	<a href="#"><img height="100" width="100"src="<%= @profile_image %>" /></a>
		<h2><%= @name %><br/>
			<a href="http://twitter.com/<%= @username %>" target="_blank" ><i class="fa fa-twitter"> <%= @username %></i></a><br/>
			<small><%= @description %></small><br>
			<small><a href="/logout">Logout</a></small>
		</h2>
	<% else %>
		<a href="/login">
			<i class="fa fa-twitter">Login with Twitter</i> 
		</a>
	<% end %>